body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: #fafafa;
}

#field {
  display: grid;
  width: 80vmin;
  height: 80vmin;
  border: 2px solid #535252;
}

.cell {
  background-color: #f0f0f0;
  border: 0.3px solid #444;
  aspect-ratio: 1/1;
  font-size: calc((90vmin / var(--field-size)) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.controlPanel {
  text-align: center;
}

input {
  padding: 5px;
  font-size: 1rem;
  width: 50px;
  text-align: center;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
}

#field {
  display: none;
}

#winnerMessage {
  font-size: 4vw;
}
